/* -------- Reset -------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  background: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  min-height: 100vh;
}

.profile {
  position: relative;
  margin: 40px 0 0 40px;
  width: 322px;
}

.profile__photo {
  display: block;
  width: 322px;
  height: 355px;
  object-fit: cover;
}

.profile__card {
  position: relative;
  width: 322px;
  height: 454px;
  background: #f51b1b;
  border-radius: 24px 24px 0 0;
  margin-top: -48px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
}
.name__element {
  width: 48px;
  height: 24px;
  position: absolute;
  background-color: #f51b1b;
  left: 50%;
  top: -23.5px;
  transform: translateX(-50%);
  z-index: 1000;
  clip-path: path("M0 24 C0 24, 24 24, 24 0 C24 0, 24 24, 48 24");
}

.name__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  font-family: "RedCollar", sans-serif;
}

.name__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 11px;
}

.contacts__icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.contacts__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s;
}

.contacts__link:hover {
  opacity: 0.8;
}

@media (max-width: 400px) {
  .profile {
    margin-right: 20px;
    margin-left: 20px;
  }
}
